<p class="text-center" style="margin-top:20px;">
	<%= user.name%>
	<% if @user == current_user %>
		<%= link_to "", edit_user_path(user), class: "fas fa-user-edit icons", data: {"turbolinks" => false} %>
	<% end %>
</p>
<div class="row">
	<div class="col-12 text-center" style="margin-bottom:20px;">
		<%= attachment_image_tag(user, :image, :fill, 150, 150, class: "rounded-circle", fallback: "no_image.jpg", size: "150x150") %>
	</div>
</div>
<div class="row">
	<div class="col-8 offset-2" style="margin-bottom: 20px;">
		<%= user.introduction %>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-12 text-center">
				<p>投稿<br><%= link_to "#{user.posts.count}", user_path(user) %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-6 text-center">
				<p>フォロー<br><%= link_to user.follower.count, user_follows_path(user) %></p>
			</div>
			<div class="col-6 text-center">
				<p>フォロワー<br><%= link_to user.followed.count, user_followers_path(user) %></p>
			</div>
		</div>
	</div>
</div>