<div class="row">
	<div class="col-12 text-center">
		<p class="wannago_detail_title" style="margin-bottom:30px;">
			<% if user == current_user %>
				<%= link_to "行きたい旅リスト", list_user_path(user), data:{"turbolinks" => false } %>
			<% else %>
				行きたい旅リスト
			<% end %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<% if user.wannago_lists.count > 0 %>
				<% user.wannago_lists.order(created_at: :desc).first(8).each do |wannago_list|%>
					<div class="col-4 text-right" style="margin-top:1vh;">
						<%= link_to post_path(wannago_list.post), data: {"turbolinks" => false } do %>
							<%= attachment_image_tag(wannago_list.post.post_images.first, :image, :fill, 50, 50, fallback: "no_image.jpg", class: "rounded-circle") %>
						<% end %>
					</div>
					<div class="col-8 text-left" style="margin-top:1vh;">
						<%= link_to "#{wannago_list.post.title}", post_path(wannago_list.post), data: {"turbolinks" => false } %>
						<p><%= wannago_list.post.content.truncate(9) %></p>
					</div>
				<% end %>
			<% else %>
				<div class="col-12 text-center">
					<p>行きたい旅を見つけよう</p>
				</div>
			<% end %>
		</div>
	</div>
</div>