<div class="container_fluid">
	<div class="row justify-content-center">
		<div class="col-5">
			<%= form_for(@category, url:admins_categories_path) do |f|%>
				<div class="field">
					<%= f.text_field :name, autofocus: true, placeholder: "カテゴリー名" %>
					<%= f.submit "追加" %>
				</div>
			<% end %>

			<table class="table">
				<thead>
					<tr>
						<th>
							カテゴリー名
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each do |category| %>
					<tr>
						<td>
							<%= category.name %>
						</td>
						<td>
							<%= link_to "削除", admins_category_path(category.id), method: :delete%>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>