<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12 text-center">
					<p style="font-size: 5vw;">会員詳細</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<%= link_to "編集する", edit_admins_user_path(@user), class: "btn btn-info" %><%= link_to "削除する", admins_user_path(@user), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-info" %>
				</div>
			</div>
			<div class="row ">
				<div class="col-12 text-center" style="margin-bottom:20px;">
					<%= attachment_image_tag(@user, :image, :fill, 150, 150, class: "rounded-circle", fallback: "no_image.jpg", size: "150x150") %>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					ユーザー名：<%= @user.name%>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					メールアドレス：<%= @user.email %>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					紹介文：<%= @user.introduction %>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<p style="font-size: 4vw; padding-top: 50px;">旅投稿一覧</p>
				</div>
			</div>
			<% @posts.each do |post| %>
				<div class="row" style="margin-bottom:2vw;">
					<div class="col-10 offset-1">
						<div class="row">
							<div class="col-3">
								<%= link_to admins_post_path(post), data: {"turbolinks" => false } do %>
									<%= attachment_image_tag(post.post_images.first, :image, fallback: "no_image.jpg", class: "new_img rounded-lg mybox") %>
								<% end %>
							</div>
							<div class="col-9">
								<div class="row">
									<div class="col-9">
										<div class="row">
											<p>
											Title：<%=link_to "#{post.title}", admins_post_path(post), data: {"turbolinks" => false } %><br>
											投稿者：<%= link_to "#{post.user.name}", admins_user_path(@user), data: {"turbolinks" => false } %><br>
											場所：<%= post.place %>
											</p>
										</div>
										<div class="row">
											<%= post.content %>
										</div>
										<div class="row">
											<%= post.tips %>
										</div>
										<div class="row">
											<%= post.course %>
										</div>
									</div>
									<div class="col-3">
										<%= link_to "詳細", admins_post_path(post), class: "btn btn-info", data:{"turbolinks" => false} %><%= link_to "削除する", admins_post_path(post), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-info" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<%= render "homes/paginate", posts: @posts %>
		</div>
	</div>
</div>