<h1 id="room"><%= user.name %> さんとのチャット</h1>
<div>
	<% chats.each do |chat| %>
		<% if chat.user_id == current_user.id %>
			<div class="clearfix">
				<div style="float:right;">
					<%= attachment_image_tag(current_user, :image, :fill, 80, 80,  fallback:"no_image.jpg", class: "rounded-circle", style: "margin-left:20px;", size: "80x80") %>
				</div>
				<div style="float:right;">
					<p style="text-align: right; padding-top: 25px;">
						<%= chat.message %>
					</p>
				</div>
			</div>
		<% else %>
			<div class="clearfix">
				<div style="float:left;">
					<%= attachment_image_tag(user, :image, :fill, 80, 80,  fallback:"no_image.jpg", class: "rounded-circle", style: "margin-right:20px;", size: "80x80") %>
				</div>
				<div style="float:left;">
					<p style="text-align: left; padding-top: 25px;">
						<%= chat.message %>
					</p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
