<div id="keyimg">
	<ul class="bxslider1">
	  <li><%= image_tag "image1.jpg",class: "slide" %></li>
	  <li><%= image_tag "image2.jpg",class: "slide" %></li>
	  <li><%= image_tag "image3.jpg",class: "slide" %></li>
	  <li><%= image_tag "image4.jpg",class: "slide" %></li>
	  <li><%= image_tag "image5.jpg",class: "slide" %></li>
	</ul>
</div>