<div class="row">
	<div class="col-lg-12">
		<div class="bxslider1">
			<% post.post_images.each do |image|%>
					<%= attachment_image_tag image, :image, fallback: "no_image.jpg", class: "posting_img" %>
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p>投稿者：<%= link_to "#{post.user.name}", user_path(post.user), data: {"turbolinks" => false } %></p>
		<p><%= post.content %></p>
	</div>
</div>
<div class="row" style="margin-top:1vw;">
	<div class="col-lg-12">
		<p>Tips:</p>
		<p><%= post.tips %></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12" style="margin-top:1vw;">
		<p>おすすめコース</p>
		<p><%= post.course%></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-5">
		<div>
			<% post.tag_list.each do |tag| %>
				<span class="tag-badge">
					<%= link_to tag, posts_path(tag_name: tag), style: "color:white;", data: {"turbolinks" => false} %>
				</span>
			<% end %>
		</div>
	</div>
</div>