<div class="row" style="margin-top:1vh;">
	<div class="col-lg-12">
		<div class="bxslider1">
			<% post.post_images.each do |image|%>
					<%= attachment_image_tag image, :image, fallback: "no_image.jpg", class: "posting_img" %>
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p><%=safe_join(post.content.split("\n"),tag(:br))%></p>
	</div>
</div>
<div class="row" style="margin-top:1vw;">
	<div class="col-lg-12">
		<p>Tips:</p>
		<p><%=safe_join(post.tips.split("\n"),tag(:br))%></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12" style="margin-top:1vw;">
		<p>おすすめコース</p>
		<p><%=safe_join(post.course.split("\n"),tag(:br))%></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-5">
		<div>
			<% post.tag_list.each do |tag| %>
				<span class="tag-badge rounded-lg">
					<%= link_to tag, searches_tag_path(tag_name: tag), class: "icons", style: "color:white;", data: {"turbolinks" => false} %>
				</span>
			<% end %>
		</div>
	</div>
</div>