<div class="container-fluid">
	<div class="row">
		<div class="col-10 offset-1">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12" style="margin-top:20px;">
							<div class="clearfix">
								<% if current_user == @post.user %>
									<%= link_to "編集する", edit_post_path(@post), class: "btn btn-info"%>
									<%= link_to '削除する', post_path(@post), method: :delete, class: "btn btn-info" %>
								<% end %>
							</div>
							<div class="clearfix">
								<div class="post_title">
									<%= @post.title%>
								</div>
								<% if user_signed_in?%>
									<div class="wannago">
										<%= render "wannago", post: @post %>
									</div>
									<div class="favorite">
										<%= render "favorite", post: @post %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<%= render "posts/post_detail", post: @post %>
					<div class="row">
						<div class="col-lg-12" style="margin-top:60px;">
							<div class="comments">
								<%= render "comments", post: @post %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<% if user_signed_in?%>
								<div class="comment-form" style="margin-bottom:30px;" >
									<%= render "comment_form", post: @post, post_comment: @post_comment %>
								</div>
							<% else %>
								<%= link_to "質問してみる", new_user_registration_path, data: {"turbolinks" => false } %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<%= render "posts/map", post: @post %>
					<% if user_signed_in?%>
						<div class="browsing_history_content">
							<%= render "browsing_history", posts: @posts %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

