<div class="container-fluid">
	<div class="row">
		<div class="col-10 offset-1 text-center" style="margin-bottom: 5vh;">
			<p class="title">本日の旅一覧</p>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1">
			<% if @posts.map{|a| a.created_at.in_time_zone('Japan').strftime("%Y/%m/%d")}.include?(Time.current.in_time_zone('Japan').strftime("%Y/%m/%d")) == true %>
				<% @posts.each do |post| %>
					<% if post.created_at.in_time_zone('Japan').strftime("%Y/%m/%d").match(Time.current.in_time_zone('Japan').strftime("%Y/%m/%d")) %>
						<div class="row" style="margin-bottom:2vw;">
							<div class="col-5 text-right">
								<%= link_to admins_post_path(post), data: {"turbolinks" => false } do %>
									<%= attachment_image_tag(post.post_images.first, :image, :fill, 500, 450, fallback: "no_image.jpg", class: "admin_post_img rounded-lg mybox") %>
								<% end %>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-12">
										<div class="row">
											<p>
											Title：<%=link_to "#{post.title}", admins_post_path(post), class: "links", style:"word-break: break-word;", data: {"turbolinks" => false } %><br>
											投稿者：<%= link_to "#{post.user.name}", admins_user_path(post.user), class: "links", data: {"turbolinks" => false } %><br>
											場所：<%= post.place %>
											</p>
										</div>
										<div class="row">
											<p><%=safe_join(post.content.split("\n"),tag(:br))%></p>
										</div>
										<div class="row">
											<p>Tips<br>
											<%=safe_join(post.tips.split("\n"),tag(:br))%></p>
										</div>
										<div class="row">
											<p>おすすめコース：<br>
											<%=safe_join(post.course.split("\n"),tag(:br))%></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>