<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <%= link_to root_path, class: "navbar-brand", data: {"turbolinks" => false} do%>
      <%= image_tag "logo5.png", :size => '110x95' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglertarget" aria-controls="navbarTogglertarget" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglertarget">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link", data: {"turbolinks" => false}  %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, 
          class: "nav-link", data: {"turbolinks" => false} %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, 
          class: "nav-link", data: {"turbolinks" => false} %>
        </li>
      </ul>
      <%= form_with model: @tags, url: searches_post_path, method: :get, local: true, data: {"turbolinks" => false } do |f| %>
        <div class="form-inline my-2 my-lg-0">
          <%= f.search_field :tag_name, class: "form-control mr-sm-2",placeholder: "Search"  %>
          <%= f.submit 'Search', class: "btn btn-outline-info my-2 my-sm-0"%>
        </div>
      <% end %>
    </div>
  </nav>
</header>