<!DOCTYPE html>
<html>
  <head>
    <title>TabiZuki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ce5151405c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/customer_header" %>
    <% elsif admin_signed_in? %>
      <%= render "layouts/admin_header" %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>

    <%= yield %>

    <span id="back">
      <%= link_to "#", data: {"turbolinks" => false} do%>
        <%= image_tag "arrow.png" %>
      <% end %>
    </span>

    <%= render "layouts/footer" %>
  </body>
</html>
