<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-sm-7">
      <%= render "users/registrations/slider" %>
    </div>
    <div class="col-xl-3 col-sm-5">
      <h1 style="margin-bottom:2vw;">会員情報編集</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field" style="margin-bottom:2vw;">
          <%= f.label :email, :・メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field" style="margin-bottom:2vw;">
          <%= f.label :password, :・新しいパスワード %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field" style="margin-bottom:2vw;">
          <%= f.label :password_confirmation, :・新しいパスワード再確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field" style="margin-bottom:2vw;">
          <%= f.label :current_password, :・現在のパスワード %><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions" style="margin-bottom:4vw;">
          <%= f.submit "更新する", class: "btn btn-outline-info" %>
        </div>
      <% end %>

      <h3>退会</h3>

      <p>退会しますか?</p>
      <%= link_to "退会しない", root_path, class: "btn btn-outline-info", data: {"turbolinks" => false} %>
      <%= link_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか?" }, method: :delete, class: "btn btn-outline-info" %>

      <p style="margin-top:5vw;"><%= link_to "戻る", user_path(current_user), data: {"turbolinks" => false}%></p>
    </div>
  </div>
</div>
